@media only screen and (max-width: 700px) {
    
    html{
        /* height: auto; */
    }

    #title-header .title{
        width: 100%;
        text-align: center;
    }

    #title-header .links{
        width: 100%;
        justify-content: center;
    }

    main{
        flex-direction: column;
    }

    .card-list {
        flex-direction: row;
        padding-left: 2em;
        padding-right: 0;
        padding-bottom: 2em;
        overflow: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .card-list::-webkit-scrollbar {
        display: none;
    }

    .card {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        min-height: 0;
        min-width: 0;
        margin-right: 1em;
        width: fit-content;
        flex-shrink: 0;
    }

    .card .card-header {
        width: fit-content;
    }

    .card .card-header h2 {
        white-space: nowrap;

    }

    .card *:not(.card-header,h2){
        display: none;
    }

    #text-body {
        margin-top: 0;
    }
} 